/*a:link {text-decoration:none}
a:visited {text-decoration:none}
a:active {text-decoration:none}
a:hover {text-decoration:none; color:#990000}*/
/*a {text-decoration : none; color : #0048ba;}
a:hover {text-decoration:underline; color: #8C1515; }*/
a {text-decoration : none}
a:hover {text-decoration:underline; color: #990000; }
body {background-color:#ffffff}

.active {font-weight:bold}
.inactive {color:gray}

.header {font-weight:bold; color:#990000}
.section {margin:10px; max-width:1024px}
.mainsection {margin:10px; max-width:1024px}


td {padding:7px}
td div {padding:7px}

li {margin:6px}
ul {list-style: square; margin: 0;}

html { font-family: "Times New Roman" }
